---
import Link from "../components/link.astro";
import { Content as AboutText } from "../content/about.mdx";
import "../styles/global.css";

("I have more proverbs in me than a book, and when I speak they come so thick together into my mouth that they fall to fighting among themselves to get out");
("right now some proverbs have come to mind, like pears in a wicker basket");
("what does the subject of our conversation have to do with the proverbs you string together like beads?");
("and I understand you so well, said Don Quixote, that I have penetrated to your most hidden thoughts, and I know the target you are trying to hit with the countless arrows of your proverbs"); // p499
("Look, Sancho, responded Don Quixote, I say proverbs when they are appropriate, and when I say them they fit like the rings on your fingers, but you drag them in by the hair, and pull them along, and do not guide them"); // p902

const title = "Sancho Simulator";
const desc =
    "The squire's proverbs, densified, digitized, reorganized, and randomized. A Mad-Lib musical chairs of medieval proverbs, inspired by Edith Grossman's 2003 translation of The Ingenious Gentleman Don Quixote of La Mancha.";
const img = "cover.webp";
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="canonical" href={Astro.url} />
        <meta name="viewport" content="width=device-width" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />

        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={desc} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={desc} />
        <meta property="og:image" content={new URL(img, Astro.url)} />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={desc} />
        <meta property="twitter:image" content={new URL(img, Astro.url)} />

        <link
            rel="preload"
            href="/junicode.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
    </head>
    <body
        class:list={[
            "bg-white text-black dark:bg-black dark:text-white",
            "min-h-svh w-full overflow-x-hidden",
            "flex flex-col items-center",
        ]}
    >
        <header
            class="prose dark:prose-invert font-serif font-semibold mt-4 grid grid-cols-[1fr_auto_1fr] text-lg justify-between w-[90vw] gap-4"
        >
            <span class="text-xs text-left">
                <a
                    href="https://duncanpetrie.com"
                    target="_blank"
                    title="Retreat!"
                    class="no-underline inline-block transition-transform hover:-translate-x-1 hover:pr-1"
                >
                    ☜
                </a>
            </span>
            <span class="text-xs text-center hidden sm:inline">
                THE INGENIOUS GENTLEMAN OF MILWAUKEE
            </span>
            <span class="text-xs text-center sm:hidden">DUNC QUIXOTE</span>
            <span
                class="text-xs text-right"
                data-page-number
                title="Page number">0</span
            >
        </header>
        <main
            class="prose dark:prose-invert font-serif font-semibold text-justify text-lg w-[90vw]"
        >
            <div class="min-h-[calc(100vh-80px)] flex flex-col justify-center">
                <div data-proverb-container class="mb-4 iindent-4"></div>
                <div class="sm:mb-4 sm:mt-0 mt-4 text-center sm:text-left">
                    <button
                        data-proverb-refresh
                        class="font-sans sm:text-base text-2xl opacity-0 hover:scale-125 active:scale-100 transition-all p-4 sm:p-0 cursor-pointer"
                        title="Click or press the 'R' key to refresh proverbs."
                    >
                        ↻
                    </button>
                </div>
            </div>
            <aside class="border-t text-sm mb-40">
                <ul data-footnotes class="list-none pl-0"></ul>
            </aside>
            <section
                class="mb-40 [&_a]:font-bold [&_a]:text-black [&_a]:dark:text-white"
            >
                <AboutText components={{ a: Link }} />
            </section>
        </main>
    </body>
    <script>
        import { shuffle } from "@probablyduncan/common/shuffle";

        (() => {
            function r<T>(arr: T[]) {
                return arr[Math.floor(Math.random() * arr.length)];
            }

            let buttons: HTMLButtonElement[];
            let generating = false;
            function initProverbs() {
                buttons = [
                    ...document.querySelectorAll(
                        "button[data-proverb-refresh]",
                    ),
                ] as HTMLButtonElement[];
                buttons.forEach((_e) => {
                    const button = _e as HTMLButtonElement;
                    button.addEventListener("click", refreshProverbs);
                });

                window.addEventListener("keypress", ({ key }) => {
                    if (key.toLowerCase() === "r") {
                        refreshProverbs();
                    }
                });

                refreshProverbs();
            }

            function refreshProverbs() {
                if (generating) {
                    return;
                }

                setPageNumber();

                generating = true;

                const footnoteContainer =
                    document.querySelector("ul[data-footnotes]");

                const proverbWrapper = document.querySelector(
                    "[data-proverb-container]",
                );

                if (!footnoteContainer || !proverbWrapper) {
                    return;
                }

                buttons = [
                    ...document.querySelectorAll(
                        "button[data-proverb-refresh]",
                    ),
                ] as HTMLButtonElement[];

                buttons.forEach((b) => {
                    b.classList.remove("transition-all");
                    b.style.opacity = "0";
                });
                proverbWrapper.innerHTML = "";
                footnoteContainer.innerHTML = "";

                const { clauses, footnotes } = getProverbs();
                const numFootnotes = footnotes.length;

                proverbWrapper.innerHTML = clauses
                    .map((clause: string) => {
                        const footnoteMatches = clause.match(/\[.*\]/g);
                        if (footnoteMatches) {
                            clause = clause.replace(footnoteMatches[0], "^");
                        }
                        return `<span>${clause
                            .split("")
                            .map((char: string) => {
                                if (char === "^") {
                                    char = `<sup>${footnoteMatches![0]}</sup>`;
                                }
                                return `<span class="transition-opacity" style="opacity: 0;">${char}</span>`;
                            })
                            .join("")}</span>`;
                    })
                    .join(" ");

                [...proverbWrapper.children].reverse().reduce(
                    (prevClause, currClause) => {
                        return () => {
                            const letters = [...currClause.children];
                            letters.reverse().reduce(
                                (prevChar, currChar) => {
                                    return () => {
                                        (
                                            currChar as HTMLElement
                                        ).style.opacity = "1";

                                        if (
                                            currChar.innerHTML.includes("sup")
                                        ) {
                                            const nextFootnote =
                                                footnotes.shift();
                                            footnoteContainer.innerHTML += `<li class="opacity-0 transition-opacity">${numFootnotes - footnotes.length}. ${nextFootnote}</li>`;

                                            (
                                                footnoteContainer.lastElementChild as HTMLElement
                                            ).style.opacity = "1";
                                        }

                                        if (prevChar) {
                                            setTimeout(prevChar, 10);
                                        }
                                    };
                                },
                                () => {},
                            )();
                            if (prevClause) {
                                setTimeout(
                                    prevClause,
                                    400 + 10 * letters.length,
                                );
                            }
                        };
                    },
                    () => {
                        // this is called after all text is made visible
                        buttons.forEach((b) => {
                            b.classList.add("transition-all");
                            b.style.opacity = "1";
                        });
                        generating = false;
                    },
                )();
            }

            function getProverbs() {
                const clauses: string[] = [];
                const footnotes: string[] = [];

                const beginning = r([
                    {
                        firstLine:
                            "“And that's what I think of that,” said Sancho,",
                        leadIn: "“for",
                    },
                    {
                        firstLine:
                            "“Right now some proverbs have come to mind,//like pears in a wicker basket,” said Sancho.",
                        leadIn: "“For example:",
                    },
                    {
                        firstLine: "“And all I shall say,” said Sancho,",
                        leadIn: "“is that",
                    },
                    {
                        firstLine:
                            "“I have more proverbs in me than a book,” said Sancho,//“and when I speak they come so thick together into my mouth//that they fall to fighting among themselves to get out.",
                        leadIn: "Here are some now:",
                    },
                ]);
                clauses.push(...beginning.firstLine.split("//"));

                shuffle(proverbs)
                    .slice(0, Math.floor(Math.random() * 2) + 4)
                    .map((p) => {
                        if (typeof p === "string") {
                            p = {
                                original: p,
                                getRand: null,
                            };
                        }
                        return p.getRand ? p.getRand() : p.original;
                    })
                    .map(resolveMadLibs)
                    .map(resolveOptions)
                    .map((p, i) => {
                        let hasSplit = p.indexOf("//") > -1;
                        if (hasSplit) {
                            if (Math.random() > 0.6) {
                                hasSplit = false;
                                p = p.replaceAll("//", " ");
                            } else {
                                const split = p.split("//");
                                p = split[0] + " . . . ";
                                const footnoteTemplates = [
                                    "The second part of the proverb is: “ . . . {p}.”",
                                    "The rest of the proverb is: “{p}.”",
                                    "The proverb concludes with: “ . . . {p}.”",
                                    "“ . . . {p}.”",
                                ];
                                footnotes.push(
                                    r(footnoteTemplates).replace(
                                        "{p}",
                                        split[1],
                                    ),
                                );
                            }
                        }

                        let line: string = "";
                        line += i === 0 ? beginning.leadIn : "and";
                        line += " ";
                        line += p;
                        line += p.endsWith("?") ? "" : ",";

                        if (hasSplit) {
                            line += ` [${footnotes.length}]`;
                        }

                        return line;
                    })
                    .forEach((p) => clauses.push(p));

                const endings = [
                    "and that's all I have to say about that.”",
                    "and that's that.”",
                    "and now it's time for bed.”",
                    "and is it about time for supper?”",
                    "and that's the end of that”.",
                    "and I think I've said enough.”",
                ];

                footnotes.push(
                    `See more of <a href="https://archive.org/details/sanchopanzasprov00cerv/page/n25/mode/2up target="_blank" title="Burke. \"Sancho Panza's Proverbs\". From Archive.org.">Sancho Panza's Proverbs</a>.`,
                );
                clauses.push(r(endings) + ` [${footnotes.length}]`);

                return { clauses, footnotes };
            }

            function resolveMadLibs(proverb: string): string {
                Object.keys(madlibs).forEach((k) => {
                    const tag = "{" + k + "}";
                    const numTags = proverb.split(tag).length - 1;

                    if (numTags < 1) {
                        return;
                    }

                    const picks = shuffle<string>(
                        madlibs[k as keyof typeof madlibs],
                    ).slice(0, numTags);
                    for (let i = 0; i < picks.length; i++) {
                        proverb = proverb.replace(tag, picks[i]);
                    }
                });

                return proverb;
            }

            function resolveOptions(proverb: string): string {
                let tagCountJustInCase = 0;
                while (tagCountJustInCase < 10) {
                    const openingIndex = proverb.indexOf("{");
                    const closingIndex = proverb.indexOf("}");

                    if (
                        openingIndex === -1 ||
                        closingIndex === -1 ||
                        closingIndex < openingIndex
                    ) {
                        break;
                    }

                    const options = proverb
                        .slice(openingIndex + 1, closingIndex)
                        .split("|");
                    const selectedOption = r(options);
                    proverb =
                        proverb.substring(0, openingIndex) +
                        selectedOption +
                        proverb.substring(closingIndex + 1);

                    tagCountJustInCase++;
                }

                return proverb;
            }

            let pageNum: HTMLElement | null;
            function setPageNumber() {
                pageNum ??= document.querySelector("[data-page-number]");
                if (pageNum) {
                    pageNum.innerHTML = (
                        Math.floor(Math.random() * 498) + 401
                    ).toString();
                }
            }

            document.addEventListener("DOMContentLoaded", initProverbs);
            document.addEventListener("astro:after-swap", initProverbs);

            const proverbs: (
                | string
                | {
                      original: string;
                      getRand: (() => string) | null;
                  }
            )[] = [
                "if the abbot sings well//the acolyte is not inferior to him", //
                "the abbot dines by his singing",
                "one deep calleth another",
                "all affectation is bad",
                "self-praise debaseth", //from pdf/111
                "self-praise is self-debasement", //111
                "if the shoe fits//wear it",
                "I know if the shoe fits", //680
                "{trout|eels|mackeral} aren’t caught//{with a bad hand|for lack of trying|on an empty stomach}",
                "the old woman disliked the greens so much//that she didn’t leave any, green or dry",
                {
                    original:
                        "if the pitcher hits the stone or the stone hits the pitcher, it’s bad for the pitcher",
                    getRand: () => {
                        const [soft, hard] = r([
                            "picher/stone",
                            "pot/rock",
                            "egg/peach pit",
                        ]).split("/");
                        return `if the ${soft} hits the ${hard} or the ${hard} hits the ${soft}, it’s bad for the ${soft}`;
                    },
                }, //736
                "the fool knows more in his own house than the wise man in someone else’s",
                "a bird in the hand is better than a vulture in the air",
                "if you have something good and choose something evil, you can’t complain about the good that happens to you",
                "something is better than nothing", //155
                "since the bad has lasted so long a time, the good is close at hand",
                "stay close to {good|evil|devilish|honest} men and become one", //667
                "birds of a feather flock together", //667
                "lean against a sturdy trunk if you want good shade", //667
                "a jackass loaded down with gold climbs the mountain fast", //694
                "gifts can break boulders", //694
                "God helps those who help themselves", //694
                "a bird in hand is worth two in the bush", //694
                "in a well-stocked house, supper is soon cooked", // 734
                "if you cut the cards, you don’t deal", // 734
                "the man who sounds the alarm is safe", // 734
                "for giving and keeping, you need some sense", // 734
                "they’ll come for wool and go home shorn", // 735
                "when God loves you, your house knows it", // 735
                "the rich man’s folly passes for good judgement in the world", // 735
                "be just like honey and flies will go after you", // 735
                "you’re only worth as much as you have", // 735
                "you won’t get revenge on a well-established man", // 735
                "never put your thumbs between two wisdom teeth", // 736
                "there’s no answer to get out of my house and what do you want with my wife", //736
                "the fool knows more in his own house than the wise man does in somebody else’s", //736
                "I care more for a sliver of nail from my soul than I do for my whole body", //737
                "everyone’s equal when they sleep", //737
                "may it please God that this is oregano and not {caraway|fulling hammers}", //153
                "it’s their affair and let them eat it with their bread", //191
                "I tend to my vine", //192
                "I don’t stick my nose in; if you buy and lie, your purse wants to know why", //192
                "naked I was born, and naked I will die", //192
                "many folks think there’s bacon when there’s not even a hook to hang it on", //192
                "who can put doors on a field?", //192
                "diligence is the mother of good fortune", //399
                "straw or hay, it’s the same either way", //478
                "take your neighbor’s son, wipe his nose, and bring him into your house", //487
                "for a chaste girl, work is her fiesta", //488
                "who covers thee, discovers thee", //489
                "whoever tries to conceal you, reveals you", //489
                "if you cut the deck you don’t deal", //498
                "a bird in hand is worth two in the bush", //498
                "a woman’s advice is no jewel, and the man who doesn’t take it is a fool", //498
                "the lamb goes as quickly as the sheep", //498
                "nobody can promise {him|her}self more hours of life in this world than the ones God wants to give {him|her}", //498
                "death is silent, and when she comes knocking at the door of our life, she’s always in a hurry", //498
                "a hen sits on her egg", //498
                "a lot of littles make a lot", //498
                "as long as you’re earning you don’t lose a thing", //499
                "if the pigeon coup has plenty of feed, it will have plenty of pigeons", //499
                "fine hopes are better than miserable posessions", //499
                "a good lawsuit is better than a bad payment", //499
                "a good heart beats bad luck", //514
                "where there is no bacon, there are no stakes", //514
                "a hare leaps out when you least expect it", //514
                "tell me who your friends are and I’ll tell you who you are", //515
                "tell me with whom thou goest, and I will tell thee what thou art", //from proverbs
                "{he|she} who lies down with dogs gets up with fleas", //from proberbs
                "{he|she} that toucheth pitch shall be defiled therewith", //from proverbs
                "lands that are barren and dry on their own can produce good fruits if you spread manure on them and till them", //528
                "like goes to like", //578
                "each ewe to her like", //from pdf
                "love looks through spectacles that make {copper|poverty|dried rheum} look like {gold|riches|pearls}", //579
                "God gives the malady and also the remedy", //579
                "nobody knows the future", //579
                "there’s a lot of hours until tomorrow", //579
                "a man goes to bed healthy and can’t move the next day", //579
                "is there anybody who can boast that {he|she}’s driven a nail into Fortune’s wheel?", //579
                "I wouldn’t dare to put a pin between a {woman|man}’s yes and no, because it wouldn’t fit", //579
                "you can’t force a Sayagan to talk like a Toledan", //579
                "{to err is human, to forgive, divine|to err is human}", //646
                "if you pay your debts, you don’t worry about guarantees", //654
                "in a prosperous house supper’s soon on the stove", //654
                "it did him harm when the ant grew wings", //679
                "at night every cat is gray", //679
                "the person who hasn’t eaten by two in the afternoon has more than enough misfortune", //679
                "the bread they bake here is as good as in {France|Belgium|Paris|Lyon|Algiers|Marseille|Bulgaria|Italy|Hamburg}", //679
                "no stomach’s so much bigger than any other that it can’t be filled with straw and hay", //679
                "the little birds of the field have God to protect and provide for them", //679
                "four varas of flannel from Cuenca will warm you more than four of limiste from Segovia", //679
                "when we leave this world and go into the ground, the path of the prince is as narrow as the laborer’s", //679
                "the pope’s body doesn’t need more room underground than the sacristan’s", //679
                "the devil hides behind the cross", //679
                "all that glitters isn’t gold", //679
                "from his oxen, plows, and yokes they took the peasant Wamba to be king of Spain", //679
                "from his brocades, entertainments, and riches they took Rodrigo to be eaten by snakes", //679
                "if he kneads and bakes, you can’t steal his cakes", //680
                "by my faith, they won’t throw me any crooked dice", //680
                "I’m an old dog//and understand here, boy", //680
                "I know how to wake up at the right time", //680
                "I don’t allow cobwebs in front of my eyes", //680
                "a good name’s worth more than great wealth", //682
                "in courtesies it’s better to lose by a card too many than a card too few{|, as far as donkeys and apples are concerned}", //683
                "it’s better to have God’s help than to get up early", //686
                "your belly leads your feet{|, not the other way around}", //686
                "{he|she} who binds does not wrangle", //734
                "the bell-ringer’s in a safe berth", //734
                "giving and keeping require brains", //734
                "the dog in linen breeches//says how crude, how crude", //788
                "the dog saw himself in hempen breeches", //from pdf/788
                "when they give you the calf//run over with the rope", //788
                "when in {Rome|Italy}//do as the {Romans|Italians} do", //812
                "when thou art in {Rome|Arcadia|La Mancha|Barcelona} do as thou seest", //from pdf/812
                "let Marta die but keep her belly full", //843
                "how polished I’ll keep the spoons when I’m a shepherd", //901
                "if you take away the cause, you take away the sin", //901
                "if your eyes don’t see, your heart doesn’t break", //901
                "a jump over the thicket is better than the prayers of good men", //901
                "there is very little difference between a man who is sleeping and a man who is dead", //904
                "it is not who you were born but who your friends are now that counts", //904
                "in delay there is often danger", //924
                "pray to God and use the hammer", //924
                "one here you are is worth more than two I’ll give it to you’s", //924
                "a mouth without teeth is like a mill without stones", //from proberbs
                "{he|she} is as good as good bread", //from proberbs
                "the ox that is loose licks itself {well|better than the beast that is tied up}", //from proverbs
                "when the head aches, all the members suffer", //from proverbs
                "jests become realities", //from proverbs
                "good things were never plentiful", //from proverbs
                "he who is silent, consents", //from proverbs
                "there is no road so level//as to have no rough places", //from proverbs
                "{reeds|sticks|} become spears", //from proverbs
                "in other {houses|lands|towns|countries} they cook beans, but in mine by the cauldron full", //from proverbs
                "we have still to skin the {tail|cat}", //from proverbs
                "all will come out in the {washing|wringing|whacking|waiting}", //from proverbs
                "grass doesn’t grow on an empty stomach",
                "what’s good for the {animal} is good for the {animal}",
                "what’s good for the {animal} is good for the {occupation}",
                "what’s good for the {occupation} is good for the {animal}",
                "the {animal} at hand is worth two in the bush",
                "one {locale} calleth another",
                "if the {clothing} fits//wear it",
                "the {occupation} never likes {his|her} {animal}",
                "to {verb} is to {verb}",
                "to {verb} is futile",
                "as the {occupation} desires",
                "as the {occupation} is wont to do . . . ",
                "the {animal} never followed a well-travelled road",
                "the {occupation} resents the {animal}",
                "there are never enough {clothing}s in the {locale}",
            ];

            const madlibs = {
                animal: [
                    "fox",
                    "greyhound",
                    "hound",
                    "harrier",
                    "bull",
                    "crow",
                    "egret",
                    "fowl",
                    "waterfowl",
                    "tigress",
                    "tiger",
                    "lion",
                    "lioness",
                    "mare",
                    "stallion",
                    "goat",
                    "ass",
                    "donkey",
                    "old grey",
                    "mule",
                    "quail",
                    "calf",
                ],
                occupation: [
                    "abbot",
                    "hunter",
                    "acolyte",
                    "squire",
                    "knight errant",
                    "viscount",
                    "duke",
                    "duchess",
                    "count",
                    "governor",
                    "bachelor",
                    "barber",
                    "preist",
                    "judge",
                    "soldier",
                    "skipper",
                    "captain",
                    "peasant",
                    "lady",
                    "poet",
                    "innkeeper",
                    "convict",
                    "juggler",
                    "player",
                    "rabble-rouser",
                    "cobbler",
                    "smith",
                    "blacksmith",
                    "goatherd",
                    "shepherd",
                    "shepherdess",
                    "lover",
                    "canon",
                    "Christian",
                    "Catholic Christian",
                    "jailor",
                    "farmer",
                ],
                verb: [
                    "hang",
                    "rest",
                    "sing",
                    "eat",
                    "vanquish",
                    "desire",
                    "fast",
                    "fight",
                    "",
                ],
                locale: [
                    "abyss",
                    "deep",
                    "field",
                    "meadow",
                    "valley",
                    "village",
                    "ínsula",
                    "governorship",
                    "bush",
                    "shed",
                    "estate",
                    "church",
                    "manor",
                    "palace",
                    "port",
                ],
                clothing: [
                    "shoe",
                    "bag hat",
                    "nightcap",
                    "wig",
                    "nabcheat",
                    "cape",
                    "hood",
                    "pointed hat",
                    "boot",
                    "tabard",
                    "jerkin",
                    "corset",
                    "gabardine",
                    "jackboot",
                    "petycote",
                    "pantofle",
                ],
            };
        })();
    </script>
</html>
